name: Run Puppeteer Bot

on:
  schedule:
    - cron: '19 6 * * *'  # Exécuter à 2h du matin chaque jour
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install Chromium dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gconf-service \
            libasound2 \
            libatk1.0-0 \
            libcups2 \
            libdbus-1-3 \
            libgdk-pixbuf2.0-0 \
            libnspr4 \
            libnss3 \
            libxcomposite1 \
            libxdamage1 \
            libxrandr2 \
            libgbm-dev \
            libgtk-3-0 \
            libpango-1.0-0 \
            libxss1 \
            libxtst6 \
            ca-certificates \
            fonts-liberation \
            libappindicator1 \
            libnss3 \
            lsb-release \
            xdg-utils \
            wget

      - name: Install Puppeteer and its dependencies
        run: |
          npm install puppeteer
          npx puppeteer install

      - name: Install other dependencies
        run: npm install

      - name: Run Puppeteer bot
        run: |
          node server.js
